# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# compiled output
/dist

# dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# bundle
packages/**/*.d.ts
packages/**/*.js

# OS # misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
.env

# example
/quick-start
/example_dist
/example

# Tests
#/test
/benchmarks/memory
/coverage
/.nyc_output
/packages/graphql
build/config\.gypi

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.awcache
/.vscode
*.code-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*~
*.sw[mnpcod]
*.tmp
*.tmp.*
log.txt
*.sublime-project
.vscode/

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
dist/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

Thumbs.db
UserInterfaceState.xcuserstate
